<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="container">
        <h1>Welcome, {{ name }}!</h1>
        <p>This is a simple Flask Applicationn.</p>
        <a href="/contact" class="btn">Contact Us</a>
    </div>

    <div class="footer">&copy; 2025 Flask Contact App</div>
</body>
</html>
